@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #143755;
  --color-secondary: #475569;
  --color-accent: #f1ae2c;
  --color-accent-hover: #d19624;
  --color-accent-secondary: #f0f4f8;

  --font-primary: var(--font-primary), serif;
}

html, body {
  scroll-behavior: smooth;
  background-color: white;
}

html.dark,
html.dark body {
  background-color: #071320;
}

section[id] {
  scroll-margin-top: 95px;
}